mat-card{

background-color: rgb(237, 234, 232);
 height: 8rem;
}

.select-options{

display: grid;
margin-top: 2rem;
margin-left: 1rem;
margin-right: 1rem;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap:1rem;
grid-row-gap: 1rem;

}
mat-form-field{
    width: 100%;
  
   
}

.submit-button{
    display: block;
   
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
}

button{
     
 display: flex;
 align-items: center;
 justify-content: center;
margin: 1rem;
}

mat-error{
    background-color: red;
    color: whitesmoke;
    font-size: 1rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 0.3rem;
  


}
.mat-table{
    border:peru solid  0.2rem;
    // background-color: #f1ab53;
}



.one{
    display: flex;
   align-items: center;
   justify-content: center;
    flex-wrap: wrap;
}


th{
    background-color: burlywood;
    padding: 0.8rem;
    }
td{
    background-color: white;
    padding: 1.2rem;
}


button-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
