<!-- <form [formGroup]="baseForm"> -->
 
  <!-- <label for="email">Email</label>
  <input formControlName="email" type="text" />
  <label for="password">Password</label>
  <input formControlName="password" type="text" /> -->
  <!-- <app-emailpassform formControlName="emailPass"></app-emailpassform>
</form> -->

<section class="select-options">
  <form action="" [formGroup]="form" >
<mat-card>
  <mat-form-field appearance="fill">
    <mat-label>Favorite Food</mat-label>
    <mat-select [formControl]="foodControl" name="food">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="foodControl.hasError('required')">Please choose an Item!</mat-error>
  </mat-form-field >
  <!-- <p>Selected: {{foodControl.value}}</p> -->
</mat-card>
</form>

  
<mat-card>
  <mat-form-field>
    <mat-label>chatbot status</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
<mat-card>
  <mat-form-field>
    <mat-label>Testing order status</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
<mat-card>
  <mat-form-field>
    <mat-label>NCCN Criteria</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
 
</mat-card>

  
</section>
<section class="button-section">
<div class="submit-button">
  <button type="submit" class="button"  mat-raised-button color="warn"(click)="onSubmit()" >Submit</button>
</div>
</section>

<section class="one">
  <div class="data-table">
    <table mat-table [dataSource]="dataSource"  matSort>
      <ng-container
        [matColumnDef]="tableData"
        *ngFor="let tableData of objectKeys(columnHeader)">
        <ng-container [ngSwitch]="tableData" >
          <ng-container *ngSwitchDefault>
            <th mat-header-cell *matHeaderCellDef mat-sort-header  >
              {{columnHeader[tableData]}} 
            </th>
            <td  mat-cell *matCellDef="let element"  >{{element[tableData] }} </td>
          </ng-container>
    
          <ng-container *ngSwitchCase="'actions'">
            <th mat-header-cell *matHeaderCellDef >{{columnHeader[tableData]}}</th>
            <td mat-cell *matCellDef="let row" >
              <ng-container *ngFor="let button of buttons">
              
              <button mat-raised-button color="warn"
                (click)="handleClick(row, button)">
                {{button}}
              </button>
          
          </ng-container>
            
            </td>
            
          </ng-container>
        </ng-container>
      </ng-container>
    
      <!-- Row  when ther is no matchin data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data found</td>
      </tr>
    
      <tr mat-header-row *matHeaderRowDef="objectKeys(columnHeader)"></tr>
      <tr mat-row *matRowDef="let row; columns: objectKeys(columnHeader);"></tr>
    </table>
  

  </div>
</section>
